.deleteButtonContainer button {
    background-color: var(--blueBrand);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}
.deleteButtonContainer button:hover {
    background-color: var(--blueAccent);
}
.deleteButtonContainer{
    width: 100%;
}