.imagesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
}
.imagesContainer button {
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--foregroundSecondary);
    height: 100%;
    border-radius: 0.5rem;
    flex-grow: 1;
  }
  .imagesContainer button:hover {
    color: var(--foregroundPrimary);
  }
  
.imagesContainer img {
    border: 1px solid var(--ornamentalBorder);
    padding: 1rem;
    max-width: 60%;
    max-height: 80%;
    
  }
  
  .imagesContainer h3{
    width: 100%;
    margin: 0;
}