.possibleValues {
  overflow-y: auto;
  max-height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.possibleValues th {
  background-color: var(--Grey100);
  color: var(--Black);
  font-size: 0.9rem;
  text-align: start;
}
.possibleValues td {
  text-align: start;
  font-size: 0.8rem;
}
.possibleValues tr:nth-child(even) {
  background-color: var(--Grey200);
}
.possibleValues td:not(:last-child) {
    border-right: 1px solid var(--Grey300);
}
.possibleValues input {
    border: none !important;
    background-color: transparent;
    font-size: 0.8rem;
    text-align: start;
    padding: 0 !important;

}
.possibleValues input:focus-visible {
    outline: none !important;
}
.possibleValues .value {
    width: 30%;
}
.possibleValues .description {
    width: 70%;
}
