.toolbarContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: var(--Toolbar-Height);
  background-color: var(--bluePrimary);
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  flex-wrap: nowrap;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.toolbarContainer > div,
.toolbarContainer > nav,
.toolbarContainer > a {
  padding: 0 1rem;
}

.toolbarTitle {
  width: auto;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  height: 100%;
  height: var(--Toolbar-Height);
  line-height: var(--Toolbar-Height);
  color: var(--backgroundPrimary);
  text-decoration: none;
}

.toolbarButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: calc(var(--Toolbar-Height) / 2);
  align-items: center;
  width: 100%;
  height: calc(100% - 10px);
  margin: 5px 0;
  padding: 0;
  margin-right: 40px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--backgroundPrimary);
  
}
.toolbarButtons ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
.toolbarButtons li {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.7rem;
}
.toolbarButtons li:hover {
  background-color: var(--blueAccent);
}
.toolbarAccount {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
}
.toolbarAccount svg {
  height: calc(var(--Toolbar-Height) * 0.8);
  width: calc(var(--Toolbar-Height) * 0.8);
  fill: var(--backgroundPrimary);
  transition: none !important;
}
.toolbarButton ul {
  display: none;
}
.toolbarMenu {
  display: none;
  width: var(--Toolbar-Height);
  height: var(--Toolbar-Height);
}
.toolbarTheme{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
}
.toolbarTheme svg{
  height: calc(var(--Toolbar-Height) * 0.8);
  width: calc(var(--Toolbar-Height) * 0.8);
  fill: var(--backgroundPrimary);
}


@media screen and (max-width: 768px) {
  .toolbarContainer {
    justify-content: flex-start;


  }
  .toolbar {
    position: absolute;
    top: var(--Toolbar-Height);
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 0;
    background-color: var(--bluePrimary);
    transition: height 0.5s cubic-bezier(0, 1, 0.5, 1);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
  .toolbar.open {
    display: flex;
    height: calc(100vh - var(--Toolbar-Height));
    transition: height 0.5s cubic-bezier(0, 1, 0.5, 1);
  }
  .toolbarMenu {
    display: block;
    z-index: 11;
    background-color: var(--bluePrimary);
    margin: 0;
    padding: 0 !important;
  }
  .toolbarTitle {
    z-index: 11;
    background-color: var(--bluePrimary);
    width: 85vw;
    margin: 0;
  }
  .toolbarButtons {
    margin-top: 2rem;
    flex-direction: column;
    font-size: 1.5rem;
    width: fit-content;
    
 }
 .toolbarButtons ul{
  flex-direction: column;
  align-items: flex-start;
  
 }
 .toolbarButtons ul li{
  margin: 1rem;
  margin-left: 0;
 }  
  .toolbarAccount {
    display: none;
  }

  .toolbarMenu{
    display: block;
    z-index: 11;
  }
  .toolbarTitle{
    z-index: 11;
  }

}
  
