:root {
  --Row-Height: 35px;
}

.Table-Container {
  overflow-y: auto;
  width: 100vw;
}

table {
  width: 100vw;
  text-align: center;
  overflow-x: scroll;
  table-layout: fixed;
  border-collapse: collapse;  
}
thead {
  background-color: var(--Black);
  color: var(--White);

}
thead.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
}
thead th {
  padding: 0.5rem;
  
}
tbody td {
  border-bottom: 1px solid var(--Grey300);
  overflow: hidden;
}
td, th {
  height: var(--Row-Height);
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody tr {
  overflow: hidden;
}

#TableName {
  width: fit-content;
}
#TableDescription {
  overflow: hidden;
}
.Table-Arrow {
  transition: transform 0.2s ease-in-out;
  padding: 0;
}
.Table-Arrow:hover {
  cursor: pointer;
}
.Table-Arrow svg {
  height: 30px;
  width: 30px;
  fill: var(--Grey600);
}
tr.Active-Row .Table-Arrow {
  transform: scale(1, -1);
  transition: transform 0.2s ease-in-out;
}
.Expandable-Area {
  background-color: #f5f5f5;
  height: calc(var(--Row-Height) * 6);
}
.Expandable-Row {
  display: none;
}
.Expandable-Row.Active-Row {
  display: table-row;
}
.Images-Container {
  /* Buttons over image */
  /* TODO Add counter and hide arrow when movement stopped*/
  position: relative;
  height: 80%;
  width: 20vw;
  border: 1px var(--Grey300) solid;
  overflow: hidden;
}
.Images-Container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
  
}
.Image.Active {
  display: block;
}
.Image-Nav{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Image-Nav svg {
  stroke: var(--Grey300);
  stroke-width: 0.5px;
}
.Image-Nav svg:hover {
  cursor: pointer;
  stroke: var(--Grey600);
}
.Image-Nav svg.Disabled {
  opacity: 0;
}

