.App-header {
  height: 4rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.App-search {
  background-color: white;
  height: min-content;
  border-radius: 5px;
}
.App-search input {
  border: none;
  width: 100%;
  border-radius: 5px;
}

.SearchField-Container {
  margin-top: 1rem;
}

#ParameterSearch,
#DescriptionSearch,
#CommentSearch {
  flex: 1 1 100%;
}

#UnitSearch,
#RigFamSearch {
  flex: 1 1 auto;
}
.SearchField-Container:not(#searchButton):last-child {
  margin-right: 0;
}
#DescriptionSearch {
  margin-right: 0;
}
.searchClearButton {
  margin-top: 1rem;
  color: var(--White);
  background-color: var(--Dark_Blue);
  border: none;
  border-radius: 5px;
  flex: 1 1 auto;
  height: 5vh;
  max-height: 35px;
  min-height: 22px;
  cursor: pointer;
}

.searchClearButton:last-child {
  flex: 1 1 100%;
}
.searchClearButton:hover {
  background-color: var(--Highlight-Active);
}

@media screen and (min-width: 750px) {
  #ParameterSearch,
  #DescriptionSearch,
  #CommentSearch {
    flex-basis: 47.5%;
  }

  #UnitSearch,
  #RigFamSearch {
    flex-basis: 21.25%;
  }
  .SearchField-Container {
    margin-right: 1rem;
  }
}
