.App-header {
  min-height: var(--Header-Default);
  height: fit-content;
  padding: 1rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--Grey100);
  align-items: center;
  padding-top: 2rem;
}

.App-search {
  background-color: white;
  height: min-content;
  border-radius: 5px;
}
.App-search input {
  border: none;
  width: 100%;
  border-radius: 5px;
}

.SearchField-Container {
  margin-top: 1rem;
}

#ParameterSearch,
#DescriptionSearch,
#CommentSearch {
  flex: 1 1 100%;
}

#UnitSearch,
#RigFamSearch {
  flex: 1 1 auto;
}

@media screen and (min-width: 750px) {
  #ParameterSearch,
  #DescriptionSearch,
  #CommentSearch {
    flex-basis: 47.5%;
  }

  #UnitSearch,
  #RigFamSearch {
    flex-basis: 21.25%;
  }
  .SearchField-Container {
    margin-right: 1rem;
  }

  .SearchField-Container:not(:last-child):before {
    content: "";
    margin-right: 0;
  }
}
