body {
  margin: 0;
  padding: 0;
}
/* roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --Dark_Blue: #202a44;
  --White: #ffffff;
  --Black: #141414;

  --Grey100: #f7f7f7;
  --Grey200: #e1dfdd;
  --Grey300: #d0d0d0;
  --Grey400: #a7a8a9;
  --Grey500: #888b8d;
  --Grey600: #53565a;
  --Grey700: #323232;

  --Highlight-Default: #004fbc;
  --Highlight-Hover: #2b8ede;
  --Highlight-Active: #104e9b;

  --Success-Default: #1a6c31;

  --Warning-Default: #ffa000;

  --Error-Default: #bf2012;

  --Context-Default: #346559;

  --Header-Default: 100px;
  --Header-750: 240px;
  --Header-320: 320px;

  --Toolbar-Height: 50px;
  --Toolbar-Phone: 60px;
}
