body {
  margin: 0;
  padding: 0;
  color: var(--foregroundPrimary)
}
/* roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* :root {
  --Dark_Blue: #202a44;
  --White: #ffffff;
  --Black: #141414;

  --Grey100: #f7f7f7;
  --Grey200: #e1dfdd;
  --Grey300: #d0d0d0;
  --Grey400: #a7a8a9;
  --Grey500: #888b8d;
  --Grey600: #53565a;
  --Grey700: #323232;

  --Highlight-Default: #004fbc;
  --Highlight-Hover: #2b8ede;
  --Highlight-Active: #104e9b;

  --Success-Default: #1a6c31;

  --Warning-Default: #ffa000;

  --Error-Default: #bf2012;

  --Context-Default: #346559;

  
} */
:root {
  --Header-Default: 100px;
  --Header-750: 240px;
  --Header-320: 320px;

  --Toolbar-Height: 50px;
  --Toolbar-Phone: 60px;


}
/* Themes */
:root {
  --backgroundPrimary: #ffffff;
  --backgroundSecondary: #fafafa;

  --foregroundPrimary: rgba(0, 0, 0, 0.92);
  --foregroundSecondary: rgba(0, 0, 0, 0.56);

  --blueBrand: #284E80;
  --bluePrimary: #2a609d;
  --blueAccent: #1C6BBA;

  --alerts: #bf2012;

  --ornamentalBorder: #d5d5d5;
  --ornamentalDivider: #ebebeb;


}

[data-theme="dark"] {
  --backgroundPrimary: #000000;
  --backgroundSecondary: #0a0a0a;

  --foregroundPrimary: #ffffff;
  --foregroundSecondary: rgba(255, 255, 255, 0.64);

  --bluePrimary: rgb(35, 135, 235);
  --blueAccent: #1f78d1;

  --alerts: rgb(255, 51, 32);

  --ornamentalBorder: rgb(31, 31, 31);
  --ornamentalDivider: rgb(41, 41, 41);
  
}
